data
9606.protein.info.v12.0.txt.gz
9606.protein.physical.links.v12.0.txt.gz
IntOGen-DriverGenes_OVT.tsv
data/9606.protein.info.v12.0.txt.gz
data/9606.protein.physical.links.v12.0.txt.gz
data/IntOGen-DriverGenes_OVT.tsv